

body {
    margin: 0;
    padding: 0;

    background-color: #402b45;
}

.header {
    background-color: #5D3F64;

}

.header .title, .player-selection .selection-heading,
.current-choices .txt  {
    height: 40px;
    font-size: 32px;
    font-weight: 900;
    color: #E19825;

    /* margin-top: 16px;
 */
}


.header .subtitle{
    height: 30px;
    color: #E7AD52;
    font-size: 24px;
    font-weight: 900;
}

.header .title, .header .subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-selection {
    margin-top: 30px;

    height: 150px;
    background-color: #5D3F64;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player-selection button {
    height: 80px;
    width: 200px;
    border-radius: 12px;

    border: #5D3F64;
    background-color: #402b45;
    color: #E19825;
    font-size: 32px;
    font-weight: 900;
    
}

.choices {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.current-choices {
    margin-top: 30px;

    height: 200px;
    background-color: #5D3F64;
    display: flex;
    justify-content: space-around;
    gap: 16px;

}

.current-choices .player-choice, .current-choices .comp-choice {
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* border: black 5px solid; */
}

.current-choices .icon
{
    background-image: url(./images/question.png);
    width: 300px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.current-choices .txt {
    text-align: center;
}

