

body {
    margin: 0;
    padding: 0;

    background-color: #402b45;
}

.header {
    background-color: #402b45;

}

.header .title, 
.player-selection .selection-heading,
.current-choices .txt,
.round-result,
.score-board .text,
.score-board .number,
.result-text
{
    height: 40px;
    font-size: 32px;
    font-weight: 900;
    color: #E19825;

}

.player-selection .selection-heading {
    text-decoration: underline #E7AD52;
    /* padding-left: 8px; */
    text-align: center;
}

.header .subtitle
{
    height: 30px;
    color: #E7AD52;
    font-size: 24px;
    font-weight: 900;
}

.header .title, .header .subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-selection {
    margin-top: 16px;

    height: 150px;
    background-color: #5D3F64;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player-selection button,
.game-result button 
 {
    height: 80px;
    width: 200px;
    border-radius: 12px;

    /* border: #402b45; */

    background-color: #402b45;
    color: #E19825;
    font-size: 32px;
    font-weight: 900;
    
}

.choices {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.current-choices {
    /* margin-top: 8px; */

    height: 200px;
    background-color: #5D3F64;
    display: flex;
    justify-content: space-around;
    gap: 16px;

}

.current-choices .player-choice, .current-choices .comp-choice {
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* border: black 5px solid; */
}

.current-choices .icon
{
    background-image: url(./images/question.png);
    width: 300px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.current-choices .txt {
    text-align: center;
}

.round-result {
    /* margin-top: 30px; */

    background-color: #5D3F64;
    text-align: center;
    color: #E7AD52;
}

.score-board {
    /* margin-top: 30px; */

    background-color: #5D3F64;
    display: flex;
    justify-content: space-around;

    padding-bottom: 8px;
}

.score-board .player-score,
.score-board .comp-score {
    height: 120px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.score-board .number {
    height: 60px;
    width: 200px;
    border-radius: 12px;
    border: #E7AD52 2px solid;

    background-color: #402b45;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-board .text{
    text-decoration: underline  #E19825;
}

.game-result{
    height: 100px;
    background-color: #402b45;


    display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;

   display: none;

}

.game-result  .result-text{
    /* background-color: aqua; */

    /* width: 100px; */
    flex-grow: 2;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-result .new-game-btn{
    padding-right: 8px;

    flex-grow: 1;
}

